<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646317464234-94oufdb0j735bbftbj0oe86nss11rr9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646317464234-94oufdb0j735bbftbj0oe86nss11rr9f</string>
	<key>API_KEY</key>
	<string>AIzaSyAw8XuVQ0kZCDWgj86RMkwljXBgRsOAPME</string>
	<key>GCM_SENDER_ID</key>
	<string>646317464234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thirdlab</string>
	<key>PROJECT_ID</key>
	<string>third-lab-e10f1</string>
	<key>STORAGE_BUCKET</key>
	<string>third-lab-e10f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646317464234:ios:210e3b2562cae2e0fe4ed3</string>
</dict>
</plist>